.incorrecte{
    border: solid crimson 0.1rem; !important;
}

.correcte{
    border: solid green 0.1rem; !important;
}

.incorrecte:focus{
    border: solid crimson 0.1rem;
}

.correcte:focus{
    border: solid green 0.1rem;
}

.warning_span{
    background-color: #c82333;
    opacity: 0.9;
    padding: 1px 10px 1px 10px;
    color: white;
    border-radius: 0.25rem;
    text-align: center;
}


@media screen and (min-width: 993px){
    .warning_span{
        width: 300px;
    }
}