
.contact{
    background-color: #27374C;
    color: whitesmoke;
}
h3{
    color: #C2A362;
}

#logo_hc{
    height: 100px;
    margin-bottom: 50px;
}
.card{
    border: #C2A362 0.1rem solid;
}
.contact_button{
    background-color: whitesmoke;
    height: 30px;
    border: 0.1rem solid #C2A362;
}
.contact_button:hover{
    color: #C2A362;
    background-color: #27374C;
    height: 30px;
}

.myGamme{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fab{
    font-size: 30px;
    color: white;
}

.pos{
    top: 0;
}
.reserver_pad{
    padding-top: 59px;
}
