@media screen and (max-width: 750px) {
    .qsm_pad{
        padding-top: 69px;
    }
}




.my-qsm-container{
    background-color: whitesmoke;
}
@media screen and (min-width: 400px){
    .my-qsm-container{
        width: 75%;
    }
}

@media screen and (max-width: 400px){
    .my-qsm-container{
        width: 90%;
    }
}


body{
    background-color: #23272b;
}

h4{
    color: #C2A362;
    font-weight: bold;
}